$color-primary: hsl(60, 8%, 93%);
$color-secondary: hsl(217, 8%, 43%);
$color-tertiary: hsl(215, 10%, 58%);
$bg-color: hsl(201, 30%, 9%);
$link-hover-color: hsl(193, 73%, 58%);

.sideNav {
  grid-column: 1/3;
  grid-row: 1/-1;
  overflow-y: auto;
  background: rgba(17,26,31,1);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(17,26,31,1)), color-stop(37%, rgba(17,26,31,1)), color-stop(51%, rgba(17,26,31,1)), color-stop(71%, rgba(17,26,31,1)), color-stop(100%, rgba(11,22,26,1)));
  background: -moz-linear-gradient(left, rgba(17,26,31,1) 0%, rgba(17,26,31,1) 37%, rgba(17,26,31,1) 51%, rgba(17,26,31,1) 71%, rgba(11,22,26,1) 100%);
  background: -o-linear-gradient(left, rgba(17,26,31,1) 0%, rgba(17,26,31,1) 37%, rgba(17,26,31,1) 51%, rgba(17,26,31,1) 71%, rgba(11,22,26,1) 100%);
  background: -webkit-linear-gradient(left, rgba(17,26,31,1) 0%, rgba(17,26,31,1) 37%, rgba(17,26,31,1) 51%, rgba(17,26,31,1) 71%, rgba(11,22,26,1) 100%);
  background: linear-gradient(to right, rgba(17,26,31,1) 0%, rgba(17,26,31,1) 37%, rgba(17,26,31,1) 51%, rgba(17,26,31,1) 71%, rgba(11,22,26,1) 100%);
  background: -ms-linear-gradient(left, rgba(17,26,31,1) 0%, rgba(17,26,31,1) 37%, rgba(17,26,31,1) 51%, rgba(17,26,31,1) 71%, rgba(11,22,26,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111a1f', endColorstr='#0b161a', GradientType=1 );
  
  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    background: $link-hover-color;
    border-radius: 12px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
