$color-primary: hsl(60, 8%, 93%);
$color-secondary: hsl(217, 8%, 43%);
$color-tertiary: hsl(215, 10%, 58%);
$bg-color: hsl(201, 29%, 9%);
$link-hover-color: hsl(193, 73%, 58%);

.sideNav {
  background-color: $bg-color;
  grid-column: 1/3;
  grid-row: 1/-1;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    background: $link-hover-color;
    outline: 1px solid red;
    border-radius: 12px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__link {
    cursor: pointer;
  }

  &__link:hover {
    color: $link-hover-color;
    transition: 0.2s;
  }
}

.mainLinks {
  text-transform: uppercase;

  &__link {
    text-align: center;
    font-size: 2.2rem;
    color: $color-primary;
    padding: 3px 0px;
  }
}

.categoriesWrapper {
  &__title {
    cursor: default;
    text-transform: uppercase;
  }
}

.logoWrapper {
  &__logo {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    text-align: center;
    padding: 40px 0px;
    color: $color-primary;
  }
}

.categoriesWrapper {
  margin-top: 80px;

  &__title {
    margin-bottom: 20px;
    color: $color-secondary;
    font-size: 2rem;
    letter-spacing: 3px;
    text-align: center;
  }
}

.categories {
  margin-left: 86px;
  display: flex;
  flex-direction: column;
  & li {
    padding: 2px 0px;
    color: $color-tertiary;
  }
}
