.cast {
  &__title {
    font-size: 2.3rem;
    margin-bottom: 15px;
  }

  &__box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  &__actor {
    width: 230px;
    padding: 30px 30px 20px 30px;
    text-align: center;
  }

  &__img {
    width: 150px;
    margin-bottom: 4px;
  }
}
