.card {
  width: 150px;
  height: 100%;
  &__img {
    width: 150px;
  }
  &__title {
    text-align: center;
    color: hsl(60, 8%, 93%);
    font-weight: 400;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover > &__title {
    text-decoration: underline;
  }
}
