.socialMedia {
  width: 150px;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;

  &__logo {
    padding-bottom: 6px;
    border-bottom: 2px solid hsl(201, 30%, 9%);
    transition: 0.2s;
  }

  &__logo:hover {
    padding-bottom: 6px;
    border-bottom: 2px solid hsl(193, 73%, 58%);
    transition: 0.2s;
  }
}
