.search {
  margin: 20px;

  &__form {
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid hsl(193, 51%, 36%);
    background-color: hsl(193, 60%, 53%);
    border-radius: 5px;
    padding: 1px;
  }
  &__input {
    padding: 0px 10px;
    border: 2px solid hsl(193, 73%, 58%);
    border-radius: 5px 5px 5px 5px;
    outline: none;
    background-color: hsl(201, 30%, 9%);
    color: hsl(215, 10%, 58%);
  }

  &__select {
    background-color: hsl(193, 73%, 58%);
    border: 0;
    color: black;
    outline: none;
  }

  &__button {
    padding: 0;
    margin: 0;
    outline: 0;
    border: 2px solid hsl(193, 73%, 58%);
    background-color: hsl(193, 73%, 58%);
    cursor: pointer;
  }

  &__icon {
    width: 42px;
    border: 2px solid hsl(193, 73%, 58%);
    padding: 5px 10px;
    background-color: hsl(193, 73%, 58%);
    border-radius: 0px 5px 5px 0px;
  }
}
