$color-primary: hsl(60, 8%, 93%);
$link-hover-color: hsl(193, 73%, 58%);

.mainLinks {
    &__list {
        text-transform: uppercase;
    }
    &__item {
      text-align: center;
    }

    &__link {
      color: $color-primary;
      text-decoration: none;
      padding: 3px 0px;
      font-size: 2.2rem;
      cursor: pointer;
    }

    &__link:hover {
      color: $link-hover-color;
      transition: 0.2s;
    }
  }

  .link_selected {
    color: $link-hover-color;
  }